.fav-page
    .welcome.cont
        .welcome__content
            h1.welcome__title Прокачай гру
            a.welcome__btn.btn(href="/promos/promotions/all/?sFrame=s/loyalty/") на шопінг
        .welcome__sem
            picture
                source(media="(max-width: 600px)" srcset="img/sam-mob.png")
                source(media="(max-width: 1050px)" srcset="img/sam-tab.png")
                img(src="img/sam-desk.png" alt="Favbet")
    .widget.cont
        p Виконуй місії, крути щасливе колесо, роби прогнози у Match X та заробляй FAVCOIN
    .info.cont
        .info__title
            .info__title-coin
                picture
                    source(media="(max-width: 600px)" srcset="img/coin-mob.png")
                    img(src="img/coin.png" alt="Decor")
            .info__title-center
                p.info__title-top FAVCOIN — твоя ігрова валюта!
                p.info__title-bottom Заробляй FAVCOIN та обмінюй їх на призи, подарунки та бонуси у Favshop.
            .info__title-bolt
                picture
                    source(media="(max-width: 600px)" srcset="img/bolt-mob.png")
                    img(src="img/bolt.png" alt="Decor")
        .info__main
            .info__main-left
                .info__main-left-decor
                    picture
                        source(media="(max-width: 600px)" srcset="img/question-mob.png")
                        img(src="img/question.png" alt="Decor")
                .info__main-txt Що тебе очікує у #[span прокачай гру]
                .info__main-left-decor
                    picture
                        source(media="(max-width: 600px)" srcset="img/trefle-mob.png")
                        img(src="img/trefle.png" alt="Decor")
            .info__main-right
                .slider
                    .slider__container
                        .card.active
                            .card-top
                            .card-body
                                p.card-body-txt Щотижневі #[span Виклики]
                                a(href="/promos/promotions/all/?sFrame=s/missions/").card-body-btn.btn грати
                        .card
                            .card-top
                            .card-body
                                p.card-body-txt Постійні #[span Місії]
                                a(href="/promos/promotions/all/?sFrame=s/missions/").card-body-btn.btn пройти місію
                        .card
                            .card-top
                            .card-body
                                p.card-body-txt Крути #[span щасливе колесо]
                                a(href="/promos/promotions/all/?sFrame=s/wheel-of-fortune/").card-body-btn.btn крутити
                        .card
                            .card-top
                            .card-body
                                p.card-body-txt Обмінюй призи в #[span Favshop]
                                a(href="/promos/promotions/all/?sFrame=s/store/").card-body-btn.btn на шопінг
                        .card
                            .card-top
                            .card-body
                                p.card-body-txt Прогнозуй матчі з #[span Match x]
                                a(href="/promos/promotions/all/?sFrame=s/matchx/").card-body-btn.btn зробити прогноз
                    .slider__arrows
                        .arrow.prev
                        .arrow.next
                    .slider__trackers
                        .dot.active
                        .dot
                        .dot
                        .dot
                        .dot
            .info__main-bottom
                img(src="img/coin-2.png" alt="Coin").info__main-coin
                img(src="img/coin-3.png" alt="Coin").info__main-coin
                img(src="img/coin-4.png" alt="Coin").info__main-coin